<h2>All orders</h2>
<hr />
<p>
    @Html.ActionLink("Create a new order", "CreateOneOrder")
</p>
<hr />
<p>
    @Html.ActionLink("View past orders", "PastOrders")
</p>
<p>
    @Html.ActionLink("View current orders", "CurrentOrders")
</p>
<p>
    @Html.ActionLink("View future orders", "FutureOrders")
</p>
