
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hotel Booking MVC</h1>
    <p class="lead">Welcome to Hotel Booking MVC</p>
    <p><a href="~/Customer/" class="btn btn-primary btn-lg">Book a room&raquo;</a></p>
</div>

@*<ul>
    @foreach(var room in Model) {
                <li>@room.RoomNumber</li>
            }
</ul>*@
